*{
  margin: 0;
}
.square{
  height:8vh;
  width:5vw;
  border: 3px solid #000;
  margin: 0;
}
.total{
  margin-top: 10%;
  align-items: center;
  display:flex;
  flex-direction:column;
}
.row{
  display: flex;
  flex-direction: row;
}
.rat{
  margin-top: 2vh;
  height:4vh;
  width:5vw;
}
.ob{
  background-color: red;
  height:8vh;
  width:5vw;
  border: 3px solid #000;
  margin: 0;

}